<IfModule mod_rewrite.c>
    RewriteEngine On
    # Prevent directory listing
    Options -Indexes
</IfModule>

<IfModule mod_env>
    # Gmail SMTP Credentials
    SetEnv SMTP_USER "crce.business@gmail.com"
    SetEnv SMTP_PASS "iyla yzrt mpsw mzyd"
    
    # reCAPTCHA Secret
    SetEnv RECAPTCHA_SECRET "6LfSdcgqAAAAAKrDVeaTb6399VDVlf6oI-S2cs11"
    
    # Security Headers
    Header always set Content-Security-Policy "default-src 'self' https: 'unsafe-inline' 'unsafe-eval'"
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
</IfModule>

# PHP Settings
php_value upload_max_filesize 32M
php_value post_max_size 32M
php_value max_execution_time 120
php_value max_input_time 60